<strong>Olá, {{provider}}</strong>
<p>Houve uma nova inscrição, confira os detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong> {{ meetup }} <br/>
  <strong>Cliente: </strong> {{ user }} <br/>
  <br/>
  <small>
    Bora!
  </small>
</p>
